@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hides scrollbar for Chrome, Safari, and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hides scrollbar for Firefox and IE/Edge */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
